{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 90,
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
}
