{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 120,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true",
}
