name: Build create-gecko-release action

on:
  push:
    branches: [main]
    paths:
      - .github/actions/create-gecko-release/**
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup git
        id: setup-git
        uses: ./.github/actions/setup-git-as-bot
        with:
          app-id: ${{ vars.MH_BOT_APP_ID }}
          app-private-key: ${{ secrets.MH_BOT_APP_PRIVATE_KEY }}

      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Build action bundle
        run: |
          yarn workspace @media-harvest-gh-action/create-gecko-release build

      - name: Commit changes
        id: commit
        uses: iarekylew00t/verified-bot-commit@v2
        with:
          token: ${{ steps.setup-git.outputs.token }}
          files: |
            .github/actions/**/dist/**
          message: 'chore(action): build create-gecko-release [skip ci]'
