name: Run test

on:
  push:
    branches:
      - main
    tags-ignore:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - main

env:
  HUSKY: 0

jobs:
  setup:
    runs-on: ubuntu-latest
    environment: "test"
    steps:
      - uses: actions/checkout@v4

      - name: Prepare env file
        run: cp sample.env .env

      - name: Upload env file
        uses: actions/upload-artifact@v5
        with:
          name: env-file
          path: .env
          retention-days: 1
          include-hidden-files: true

  test:
    needs: setup
    runs-on: ubuntu-latest
    environment: "test"
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Set yarn version
        run: yarn set version 4.9.1

      - name: Run lint and tests
        run: |
          yarn install --immutable
          yarn lint
          yarn ci:all
          yarn check-locales
          yarn check-flags
          yarn typecheck

  build:
    needs: test
    runs-on: ubuntu-latest
    environment: "test"
    strategy:
      matrix:
        node-version: [22.x]
        browser: [chrome, edge, firefox]
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Set yarn version
        run: yarn set version 4.9.1

      - name: Download env file
        uses: actions/download-artifact@v6
        with:
          name: env-file

      - name: Build ${{ matrix.browser }}
        run: |
          yarn install --immutable
          yarn check-envfile
          yarn build:tools

          if [ "${{ matrix.browser }}" = "chrome" ]; then
            yarn build:chrome:all
          elif [ "${{ matrix.browser }}" = "edge" ]; then
            yarn build:edge:all
          elif [ "${{ matrix.browser }}" = "firefox" ]; then
            yarn build:firefox:all:self-sign
          fi
